<div class="card">

  <h2 [ngStyle]="{
    color: card.title.length <5 ? 'black' : 'green',
    fontWeight: card.title.length <7 ? 'normal' : 'bold'
  }">{{index}} {{card.title}}</h2>



  <p class="text" [class.blue]="textColor === 'blue'"
  [class.red]="textColor === 'red'"
  [class.green]="textColor === 'green'"

  >{{card.text}}</p>

  <div class="buttons">
    <button (click)="textColor = 'blue'">Set Blue</button>
    <button (click)="textColor = 'green'">Set Green</button>
    <button (click)="textColor = 'red'">Set Red</button>
  </div>


<div class="buttons">
  <button (click)="changeTitle()">Change title</button>
  <button (click)="card.title = 'inline title'">Change title inline</button>
</div>


<div>
  <input type="text" [(ngModel)]="title">
</div>

<div>
  <strong>{{cardDate | date:'dd MMMM yyy HH:mm:ss':'ru'}}</strong>
</div>



<!-- <div>
  <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]="title">
</div> -->

<!--   <p>{{getInfo()}}</p>

  <strong>Number: {{number}}</strong>
  <em>{{array}}</em>
  <pre>{{obj | json}}</pre>
 

  <div>
    <img [src]="imgUrl">
    <br>
    <button [disabled]="disabled">Enable</button>
  </div> -->

</div>