<!DOCTYPE html> 
<html>
	<head>
		<title>PizzaShop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/app.css" rel="stylesheet">
	 	
	    <script src="/vendor/jquery-1.9.1.min.js"></script>
	   
	    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	    <script src="/app.js"></script>

	</head>
	<body>
		<div class="container">

			
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">PizzaShop</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/about">about</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li>
			    		<form action="/cart" method="post">
			    		<!-- скрытая строка с заказом, создаётся в js -->
			    		<input id="orders_input" name="orders" type="hidden"/>
			    		<input id="orders_button" type="submit" value=""/>
			    		</form>
			    	</li>
			    </ul>	
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>

	<!-- обновить строку с заказом и текст в кнопке с количеством пицц -->
	<script type="text/javascript"> 
		$(function() {
		update_orders();
		update_orders_button();
		});

		</script>
  </body>
</html>
