<h2>Контакты</h2>
<form action="/contacts" method="post">

  <div class="form-group">
    <label >Ваша почта: </label>
    <input type="email" class="form-control"  placeholder="Введите Вашу почту для связи" name="user_mail" value="<%=@user_mail%>">
  </div>

  <div class="form-group">
    <label >Напишите нам: </label>
    <textarea class="form-control" rows="3"  placeholder="Ваш вопрос" name="user_feedback" value="<%=@user_feedback%>"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Отправить отзыв</button>
</form>